<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class="div-form-title-input">
      <form action="/admin/add-product" method="POST">
        <label class="label-input-title" for="title">Title :</label>
        <input class="product-input" type="text" name="title" required/>

        <label class="label-input-title" for="price">Price :</label>
        <input class="product-input" type="number" name="price" id="price" step="0.01"/>

        <label class="label-input-title" for="imgUrl">Image URL:</label>
        <input class="product-input" type="text" name="imgUrl" id="imgUrl" required/>

        <label class="label-input-title"  for="description">Description :</label>
        <textarea style="display: block;" class="" maxlength="150" rows="4" cols="60"  type="text" name="description" /></textarea>

        <button style="display: block;" class="add-product-btn" type="submit">Add Product</button>
      </form>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>

