<form style="padding: 0; margin: 0;" action="/cart" method="post" style="display: flex;">
  <button class="btn" type="submit">Add to Cart</button>
  <input type="hidden" name="productId" value="<%= product.id %>">
</form>